:host{
  padding: 12px;
  display: block;
  .wimi-table{
    &-head{
       padding: 12px;
       margin-bottom: 2px;
       background: white;
       display: flex;
       justify-content: space-between;
      &-title{
        color: #201f1f;
        font-size: 14px;
        font-weight: 540;
      }
    }
    &-content{
      background: white;
      padding: 12px;
    }
  }
}