<nz-modal #updateModal nzTitle="修改授权" (nzOnCancel)="handleCancel()" (nzOnOk)="handleSubmit()" [nzOkLoading]="loading" >
  <form nz-form [formGroup]="validateForm" (ngSubmit)="handleSubmit()" >

    <nz-form-item nz-row style="margin-bottom:8px;">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="baseControl">基础功能</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <label nz-checkbox formControlName="baseControl" [(ngModel)]="appForm.basic" (click)="handleBaseApply()">
          <span>授权</span>
        </label>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="baseControlDate">授权有限日期</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-radio-group formControlName="baseControlDate" [(ngModel)]="baseControlDate">
          <label nz-radio nzValue="A" (click)="handleBaseChange()">无期限</label>
          <label nz-radio nzValue="B" (click)="handleBaseChange()">
            <nz-date-picker nzShowTime 
            nzFormat="yyyy-MM-dd HH:mm:ss" 
            formControlName="baseExpiryTime" 
            [(ngModel)]="baseDate"
            [nzDisabledDate]="disabledStartDate"></nz-date-picker>
          </label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row style="margin-bottom:8px;">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="payControl">付费功能</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <label nz-checkbox formControlName="payControl" [(ngModel)]="appForm.pay" (click)="handlePayApply()">
          <span>授权</span>
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="payControlDate">授权有限日期</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-radio-group formControlName="payControlDate" [(ngModel)]="payControlDate">
          <label nz-radio nzValue="A" (click)="handlePayChange()">无期限</label>
          <label nz-radio nzValue="B" (click)="handlePayChange()">
            <nz-date-picker nzShowTime 
            nzFormat="yyyy-MM-dd HH:mm:ss" 
            formControlName="payExpiryTime" 
            [(ngModel)]="payDate"
            [nzDisabledDate]="disabledStartDate"></nz-date-picker>
          </label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>