<nz-modal #updateModal [nzTitle]="123" (nzOnCancel)="handleCancel()" (nzOnOk)="handleSubmit()" >
  <form nz-form [formGroup]="validateForm" (ngSubmit)="handleSubmit()">

    <nz-form-item nz-row style="margin-bottom:8px;">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="baseControl">基础功能</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <label nz-checkbox formControlName="baseControl">
          <span>授权</span>
        </label>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="baseControlDate">授权有限日期</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-radio-group formControlName="baseControlDate">
          <label nz-radio nzValue="A">无期限</label>
          <label nz-radio nzValue="B">
            <nz-range-picker></nz-range-picker>
          </label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row style="margin-bottom:8px;">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="payControl">付费功能</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <label nz-checkbox formControlName="payControl">
          <span>授权</span>
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="payControlDate">授权有限日期</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-radio-group formControlName="payControlDate">
          <label nz-radio nzValue="A">无期限</label>
          <label nz-radio nzValue="B">
            <nz-range-picker></nz-range-picker>
          </label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>