<form class="login-from" nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <div class="login-from-content">
  <div class="login-title">
    账户密码登录
  </div>
  <div class="login-line"></div>
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-global">
        <input  nz-input formControlName="company" placeholder="公司" [(ngModel)]="loginService.authenticateModel.tenantCode">
      </nz-input-group>
      <nz-form-explain *ngIf="company.dirty && company.errors">请输入公司名称</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-user">
        <input nz-input  formControlName="userName" placeholder="账户" [(ngModel)]="loginService.authenticateModel.userName">
      </nz-input-group>
      <nz-form-explain *ngIf="userName.dirty && userName.errors">请输入账户名且至少五个字符！</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-lock">
        <input  nz-input type="password" formControlName="password" placeholder="密码" [(ngModel)]="loginService.authenticateModel.password">
      </nz-input-group>
      <nz-form-explain *ngIf="password.dirty && password.errors">
        请输入密码！
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <label nz-checkbox formControlName="remember">
      <span>记住我</span>
    </label>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock>登录</button>
  </nz-form-item>
    <nz-divider [nzText]="text">
      <ng-template #text><span (click)="handleFindPassword()" class="login-link">忘记密码</span></ng-template>
    </nz-divider>
  </div>
</form>
