<wimi-breadcrumb title="APP管理" icon="appstore" [data]="breadcrumb"></wimi-breadcrumb>
<wimi-table>
  <nz-table name="table" #basicTable [nzData]="dataSet.items" nzShowQuickJumper nzShowSizeChanger [nzShowTotal]="totalTemplate" nzSize="middle" [nzLoading]="isLoading" [nzFrontPagination]="false" [nzTotal]="dataSet.totalCount"
    (nzPageSizeChange)="handlePageSizeChange($event)"
  (nzPageIndexChange)="handleIndexChange($event)">
    <thead>
      <tr>
        <th>APP概览</th>
        <th>对象租户</th>
        <th>APP编号</th>
        <th>状态</th>
        <th>版本号</th>
        <th>更新时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td class="app-des">
          <img class="app-des-icon"
          (error)="handleImageErr(data)"
          [src]="data.imageUrl?data.imageUrl:'http://dada-image-bed.oss-cn-shenzhen.aliyuncs.com/18-11-26/53428683.jpg'"/>
          <div>
            <div class="app-title"><nz-tag [nzColor]="'cyan'">定制版</nz-tag>{{data.displayName}}</div>
            <div class="app-subtitle">{{data.summary}}</div>
          </div>
        </td>
        <td>{{data.authorizeScope}}</td>
        <td>{{data.appKey}}</td>
        <td>{{data.appStage === 'forSale'?'上架':'下架'}}</td>
        <td>{{data.version}}</td>
        <td>{{data.updateTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>
          <a *ngIf="data.appStage==='preparatory'" (click)="handUpApp(data)">上架</a>
          <a *ngIf="data.appStage==='forSale'"  nz-popconfirm nzTitle="确定下架该APP?" (nzOnConfirm)="handDownApp(data)">下架</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #totalTemplate let-total>
      共 {{total}} 条结果
  </ng-template>
</wimi-table>
