<wimi-breadcrumb title="APP授权" icon="appstore" [data]="breadcrumb"></wimi-breadcrumb>
<wimi-four-grid leftWidth="518px">
  <div name="top-left" style="font-weight: 550;padding: 12px;">租户列表</div>
  <div name="top-right" style="display: flex;justify-content: space-between;width: 100%;align-items: center;">
    <div style="font-weight: 550">{{selectTenantName}}</div>
    <button name="top-right" nz-button nzType="primary" (click)="handleAppAuth()">APP授权</button>
  </div>
  <div name="content-left" style="padding:12px;">
    <nz-input-group nzSearch [nzSuffix]="suffixButton" style="width: 100%;margin-bottom: 12px;">
      <input type="text" nz-input placeholder="编号/名称" [(ngModel)]="filterTenantsDto.filter" (ngModelChange)="handleSearchChange()">
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" nzSearch (click)="handleSearch()">查询</button>
    </ng-template>
    <nz-table  #basicTable [nzData]="dataSet" nzSize="small"  [nzLoading]="tableLoading" [nzFrontPagination]="false" nzNoResult="暂无数据"
      [nzTotal]="dataSet.length" [nzShowTotal]="totalTemplate" >
      <thead>
        <tr>
          <th>租户编号</th>
          <th>租户名称</th>
          <th>启用状态</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data" [class.trSelect]="selectItem == data.id" (click)="handleTrClick(data)">
          <td [nzChecked]="true">{{data.code}}</td>
          <td>{{data.name}}</td>
          <td><nz-badge [nzStatus]="data.isActive?'success':'Warning'" [nzText]="data.isActive?'已启用':'已停用'"></nz-badge></td>
        </tr>
      </tbody>
    </nz-table>
      <ng-template #totalTemplate let-total>
      共 {{total}} 条结果
  </ng-template>
  </div>
  <div name="content-right" style="text-align: center;">
    <nz-spin class="app-loading" *ngIf="appLoading"></nz-spin>
    <div style="display: flex;flex-wrap: wrap;margin-bottom: 24px;">
      <wimi-app-board *ngFor="let data of appDatas" [data]="data" (onEdit)="handleAppEdit(data)"></wimi-app-board>
      <div class="no-data" *ngIf="appDatas.length == 0">暂无数据</div>
    </div>
    <nz-pagination *ngIf="!appLoading&&appDatas.length > 0" [(nzPageIndex)]="appDataIndex" [nzTotal]="3" [nzSize]="'small'"></nz-pagination>
  </div>
</wimi-four-grid>

<app-auth-create #createAppAuth (modalSave)="handleUpdateSave()"></app-auth-create>
<app-auth-update #updateAppAuth (modalSave)="handleUpdateSave()"></app-auth-update>