
<form nz-form class="wimi-search" nzLayout="inline" nzFlex="true">
  <div style="flex:0.8">
    <wimi-form-item text="编号/名称">
      <input nz-input />
    </wimi-form-item>
    <div class="hide-input-group" *ngIf="!isCollapse">
      <wimi-form-item text="APP授权" style="margin-left: 8px;">
        <nz-select nzAllowClear nzPlaceHolder="请选择">
          <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
          <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
          <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
        </nz-select>
      </wimi-form-item>
      <wimi-form-item text="创建时间">
        <nz-range-picker style="width:100%" [nzStyle]="rangePickerStyle" nzShowTime></nz-range-picker>
      </wimi-form-item>
    </div>
  </div>
  <div style="margin-left: 12px;flex:0.2">
    <button nz-button nzType="primary">查询</button>
  </div>
</form>
<wimi-table>
  <button name="toolbar" *ngIf="isGranted('Pages.Host.Administration.Tenants.Create')" nz-button nzType="primary" (click)="createTenant()"><i nz-icon type="plus"></i>新建租户</button>
  <nz-table name="table" #basicTable [nzData]="dataSet" nzShowQuickJumper nzShowSizeChanger [nzShowTotal]="totalTemplate" nzSize="middle">
    <thead>
      <tr>
        <th>租户编号</th>
        <th>租户名称</th>
        <th>结束订阅日期</th>
        <th>启用</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.tenancyCode}}</td>
        <td>{{data.tenancyName}}</td>
        <td>{{data.subscriptionEndDate}}</td>
        <td><nz-badge nzStatus="success" [nzText]="data.type"></nz-badge></td>
        <td>{{data.creationTime}}</td>
        <td>
          <a>修改</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-popconfirm nzTitle="确定回收该租户?">回收</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-popconfirm nzTitle="确定停用该租户?">停用</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #totalTemplate let-total>
      共 {{total}} 条结果
  </ng-template>
</wimi-table>
<wimi-copyright></wimi-copyright>

        <td>
          <a>修改</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-popconfirm nzTitle="确定回收该租户?">回收</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-popconfirm nzTitle="确定停用该租户?">停用</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #totalTemplate let-total>
      共 {{total}} 条结果
  </ng-template>
</wimi-table>
<wimi-copyright></wimi-copyright>

<app-tenant-create-modal #createTenantModal (modalSave)="getTenants()"></app-tenant-create-modal>

