<form class="login-from" nz-form [formGroup]="form" role="form">
  <div class="login-from-content">
  <div class="login-title">
    找回密码
  </div>
  <div class="login-line"></div>
  <nz-alert style="margin-bottom: 12px;" nzShowIcon nzType="info" nzMessage="您的账号当前使用随机密码，为了账号安全，请修改密码后完成登录！"></nz-alert>
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzSize="large">
        <input nz-input type="password" formControlName="tenant" placeholder="请输入您的公司" >
      </nz-input-group>
      <nz-form-explain *ngIf="form.get('tenant').dirty && form.get('tenant').errors">请输入您的公司</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzSize="large">
        <input nz-input type="password" formControlName="userName" placeholder="请输入您的账号" >
      </nz-input-group>
      <nz-form-explain *ngIf="form.get('userName').dirty && form.get('userName').errors">请输入您的账号</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="display: flex;justify-content: space-between;">
    <button style="flex:0.4" nz-button nzType="default" nzSize="large" (click)="onCancle()">取消</button>
    <button style="flex:0.4" nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" (click)="submit()">发送</button>
  </nz-form-item>
  </div>
</form>