<div class="boardtitle" [class.isOutData]="data.status === 'Overdue'">
  <div class="boardtitle-main">{{data.displayName}} <nz-tag [nzColor]="'cyan'">标准版</nz-tag></div>
  <div class="boardtitle-sub">APP-KEY:{{data.appKey}}</div>
</div>
<div class="boardcont">
  <div style="flex:0.4;text-align: right;">
    <div>状态：</div>
    <div>基础功能：</div>
    <div>付费功能：</div>
  </div>
  <div style="flex:0.6;text-align: left;">
    <div style="display: flex;align-items: center;">
      <nz-badge *ngIf="data.status === 'InUse'" nzStatus="success" nzText="使用中"></nz-badge>
      <nz-badge *ngIf="data.status === 'NotInUse'" nzStatus="success" nzText="未使用"></nz-badge>
      <nz-badge *ngIf="data.status === 'Overdue'" nzStatus="warning" nzText="已逾期"></nz-badge>
    </div>
    <div [style.color]="data.basic === '未授权'?'#b1b1b1':''">
      {{data.basicExpiryTime}}
    </div>
    <div [style.color]="data.pay === '未授权'?'#b1b1b1':''">
      {{data.payExpiryTime}}
    </div>
  </div>
</div>
<div class="boardedit" (click)="handleEditClick()">
  编辑
</div>