<div class="boardtitle" [class.isOutData]="data.status === '已逾期'">
  <div class="boardtitle-main">{{data.title}} <nz-tag [nzColor]="'cyan'">{{data.type}}</nz-tag></div>
  <div class="boardtitle-sub">APP-KEY:{{data.key}}</div>
</div>
<div class="boardcont">
  <div style="flex:0.4;text-align: right;">
    <div>状态：</div>
    <div>基础功能：</div>
    <div>付费功能：</div>
  </div>
  <div style="flex:0.6;">
    <div style="display: flex;align-items: center;">
      <nz-badge *ngIf="data.status === '使用中'" nzStatus="success" nzText="使用中"></nz-badge>
      <nz-badge *ngIf="data.status === '已逾期'" nzStatus="warning" nzText="已逾期"></nz-badge>
    </div>
    <div [style.color]="data.base === '未授权'?'#b1b1b1':''">
      {{data.base}}
    </div>
    <div [style.color]="data.pay === '未授权'?'#b1b1b1':''">
      {{data.pay}}
    </div>
  </div>
</div>
<div class="boardedit" (click)="handleEditClick()">
  编辑
</div>