<wimi-form-item name="content-right" text="账号/名称" textWidth="85px" style="margin-bottom: 12px;">
  <input nz-input placeholder="请输入" name="filter" [(ngModel)]="filterAccountsDto.filter" />
  <button style="margin-left: 12px;" nz-button nzType="primary" [nzLoading]="tableLoading" 
  (click)="handleSearch()"  >查询</button>
</wimi-form-item>
<nz-table name="content-right" name="table" #basicTable [nzData]="dataSet" nzShowQuickJumper nzShowSizeChanger [nzShowTotal]="totalTemplate" nzSize="middle" [nzFrontPagination]="false" [nzTotal]="totalCount" 
  [nzLoading]="tableLoading"
  [nzPageIndex]="filterAccountsDto.pageIndex"
  (nzPageSizeChange)="handlePageSizeChange($event)"
  (nzPageIndexChange)="handleIndexChange($event)">
  <thead>
    <tr>
      <th>账号</th>
      <th>名称</th>
      <th>邮件地址</th>
      <th>激活</th>
      <th>上次登录时间</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.code}}</td>
      <td>{{data.displayName}}</td>
      <td>{{data.email}}</td>
      <td><nz-badge nzStatus="success" [nzText]="data.isActive?'已激活':'未激活'"></nz-badge></td>
      <td>{{data.createTime|date:'yyyy-MM-dd HH:mm'}}</td>
      <td>{{data.createTime|date:'yyyy-MM-dd HH:mm'}}</td>
      <td>
        <a (click)="handleChange(data)">修改</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="handleChangePermission(data)">权限</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="handleDelete(data)">删除</a>
      </td>
    </tr>
  </tbody>
</nz-table>
<ng-template name="content-right" #totalTemplate let-total>
    共 {{totalCount}} 条结果
</ng-template>
<user-update-modal #updateUserModal (modalSave)="handleModalSave()"></user-update-modal>
<user-permission-modal #permissionModal (modalSave)="handleModalSave()"></user-permission-modal>