<wimi-breadcrumb title="账号管理" icon="appstore" [data]="breadcrumb"></wimi-breadcrumb>
<wimi-four-grid leftWidth="260px">
  <div name="top-left">用户组</div>

  <wimi-tab name="top-right" [tabs]="tabs" [(select)]="selectTab" (onSelect)="handleTabSelect($event)"></wimi-tab>
  <button name="top-right" name="toolbar" nz-button nzType="primary" (click)="handleAddClick()"><i nz-icon type="plus"></i>新建账号</button>

  <wimi-left-menu name="content-left" [menu]="leftMenu" [select]="userGroupId" 
    (onSelect)="handleLeftSelect($event)" 
    (onChangeName)="handleChangeName($event)"
    (onDelete)="handleAccountGroupDelete($event)">

  </wimi-left-menu>
  <div style="padding: 12px;" name="content-left">
    <div *ngIf="!showNewAccountGroup" class="add-new-group" (click)="handleShowCreateAccountGroup()">
      <i nz-icon type="plus" theme="outline"></i>
      新建分组
    </div>
    <input *ngIf="showNewAccountGroup" [(ngModel)]="accountGroupName" nz-input placeholder="请输入用户组名称" 
    (keyup)="($event.which === 13)?handleCreateAccountGroup(accountGroupName):0">
    <button style="margin-top: 12px" *ngIf="showNewAccountGroup" (click)="handleCancle()" nzBlock nz-button nzType="default">取消</button>
  </div>

  <div name="content-right">
    <router-outlet></router-outlet>
  </div>
</wimi-four-grid>
<user-create-modal #createUserModal></user-create-modal>
