@import '../../../../styles/theme';

.add-new-group{
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin-bottom: 12px;
  border: dashed 1px lightgrey;
  cursor: pointer;
}
.add-new-group:hover{
  border: dashed 1px @primary-color;
}