<form class="login-from" nz-form [formGroup]="form" role="form">
  <div class="login-from-content">
  <div class="login-title">
    修改密码
  </div>
  <div class="login-line"></div>
  <nz-alert style="margin-bottom: 12px;" nzShowIcon nzType="info" nzMessage="您的账号当前使用随机密码，为了账号安全，请修改密码后完成登录！"></nz-alert>
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzSize="large">
        <input nz-input type="password" formControlName="password" placeholder="请输入新的密码" >
      </nz-input-group>
      <nz-form-explain *ngIf="password.dirty && password.errors">请输入新的密码！</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzSize="large">
        <input nz-input type="password" formControlName="checkPassword" placeholder="再次输入新的密码" >
      </nz-input-group>
      <nz-form-explain *ngIf="checkPassword.dirty && checkPassword.errors">
        <ng-container *ngIf="form.get('checkPassword').hasError('required')">
          请输入新的密码！
        </ng-container>
        <ng-container *ngIf="form.get('checkPassword').hasError('confirm')">
          两次密码输入不一致！
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="display: flex;justify-content: space-between;">
    <button style="flex:0.4" nz-button nzType="default" nzSize="large" (click)="onCancle()">取消</button>
    <button style="flex:0.4" nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" (click)="submit()">完成</button>
  </nz-form-item>
  </div>
</form>
